<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{title}}
<a href="/seele/logout">logout</a>
{{#each loggerData}}
    <div>
        <div>plugin: {{plugin}}</div>
        <div>datetime: {{time}}</div>
        <div>responseTime: {{responseTime}}ms</div>
        <div>useCache: {{useCache}}</div>
        <div>----</div>
    </div>
{{/each}}
</body>
</html>